@font-face {
    font-family: 'ChopinScriptMedium';
    src: url('chopinscript.eot');
    src: url('chopinscript.eot') format('embedded-opentype'),
         url('chopinscript.woff') format('woff'),
         url('chopinscript.ttf') format('truetype'),
         url('chopinscript.svg#ChopinScriptMedium') format('svg');
}
